body{
    max-width: 100%;
    max-height: 100%;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(225,225,255,1) 0%, rgba(211,248,255,1) 100%);
font-family: 'Times New Roman', Times, serif;
}
.central{
    width: 600px;       
    margin: 0 auto 0;
   height: 100vh;
}
.pfp{
    width: 220px;
    height: 220px;
}
.icon{
    width: 25px;
    height: 25px;
}
.float-left{
    float:left;
    margin-right: 20px;
}

.syde-by-side{
    display: inline-block;
}
.half{
    max-width: 600px;
    display: flex;
}
.box{
    width: 290px;
}