<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='<c:url value="resources/templates/index.css"/>'>
    <title>Curriculo Web</title>
</head>
<body>
<div class="central">    
<div class="Cabecalho">    
<img src="https://i.imgur.com/2nSqNlw.jpg" class="pfp float-left" alt="Foto de Giovani" id="pfp" >
<h1 class="margin-top">Giovani Augusto Justo</h1>
<h2>07/06/2004</h2> <img src="https://i.imgur.com/WcaO7Jk.png" class="icon float-left" alt="Icone gmail"><h2>giovanijusto54@gmail.com</h2>
<p><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" class="icon float-left" alt="Icone Github"> <a href="https://github.com/Gioh-Workplace">Github</a></p>
<p><img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" class="icon float-left" alt="Icone Linkedin"> <a href="https://www.linkedin.com/in/giovani-augusto-justo-19b612248/">Linkedin</a></p>
<div class="half">
<div class="box">
<h1>Meus cursos</h1>
<h3>
    Graduação em Tecnologia em Análise e Desenvolvimento de Sistemas - Senac SP
</h3>
<p>Inicio:08/2022      Fim: 12/2024</p>
<h3>
    Práticas de Cloud Services usando Swift com ênfase em Serviços Cognitivos - Instituto Eldorado
</h3>
    <p>Carga horária: 100 horas</p>
</div>
<div class="box">
   <h1>Experiência Profissional</h1>
   <h3>
    Prevent Senior Private Operadora de Saúde LTDA - Analista de TI </h3>
    <p>
    Atuo com análise e abertura de chamados e demandas, controle de desenvolvimento, testes de melhorias, atuo com SAP e manipulação de banco de dados(DML).</p>
    <p>Início: 09/10/2023     Fim: -- -- -- </p>
</div>

</div>


</div>


</div>
</body>
</html>
